*{
    margin: 5px;;
    padding: 15;
}

p{
    text-align: center;
    text-shadow: #0000ff 3px 0px 2px;
    color: rgb(3, 3, 104);
    font-size: 50px;
    font-weight: bold;
    
}

#aviso{
    border: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: black;
    min-height: 2px;
    background-color: rgb(231, 228, 228);
}

#itensSecos{
    font-weight: bold;
    border: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: black;
    background-color: rgb(231, 228, 228);
}
#itensMolhados{
    font-weight: bold;
    border:blue;
    border-width: 2px;
    border-style: solid;
    box-shadow: black;
    background-color: rgb(231, 228, 228);
}
#itensFrageis{
    font-weight: bold;
    border: red;
    border-width: 2px;
    border-style: solid;
    box-shadow: black;
    background-color: rgb(231, 228, 228);
}

#imagens{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}

img{
    border:rgb(3, 3, 104);
    border-radius: 5px;
    border-width: 5px;
    box-shadow: rgb(67, 67, 158) 5px 5px 5px;
    border-style: solid;
 

}

#Produtos{
    font-weight: bold;
    font-size: 20px;
}
